html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: lightblue;
}

header,
footer {
    flex: none;
}

main {
    flex: auto;
    background: lightcyan;
    overflow: auto;
}

main > * {
    max-width: 800px;
    margin: auto;
}

.percent {
    background: purple;
    /* height: 10px; */
    padding: 10px;
    color: white;
}
